.reveal section img.svg {
    box-shadow: none;
    border: none;
    min-width: 50px;
    margin: 0;
    position: relative;
    bottom: -0.25em;
    margin-right: 0.25em;
}

.reveal section button.demo-button {
    font-size: 1em;
}